body {
  padding: 140px;
  font-family: var(--body-font);
}

/*form-room*/
.form-room {
  max-width: 380px;
  width: 100%;
  border: 1px solid #0000001f;
  box-shadow: 0px 0px 25px 0px #00000033;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
}

.form-room__title {
  color: var(----Dark-Shade100);
  font-weight: var(--font-big);
  line-height: 100%;
}

.form-room__dates {
  display: flex;
  gap: 20px;
}

.button-room {
  border-radius: 22px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: none;
  padding: 14px;
  font-weight: var(--font-big);
  color: #ffffff;
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}
/*end off form-room */

/*form-registration*/

.form-registration {
  max-width: 380px;
  width: 100%;
  border: 1px solid #0000001f;
  box-shadow: 0px 0px 25px 0px #00000033;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
}

.form-registration__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-registration__footer-title {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  vertical-align: middle;
}
/*end of form-regestration*/

/*form-booking*/

.form-booking {
  max-width: 380px;
  width: 100%;
  border: 1px solid #0000001f;
  box-shadow: 0px 0px 25px 0px #00000033;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
}

.form-booking__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form-booking__title-group {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.form-booking__number {
  font-weight: var(--font-big);
  font-size: var(--h1-font-size);
  color: var(--Dark-Shade100);

  &::first-letter {
    font-size: var(--body-font-size);
  }
}

.form-booking__category {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  color: var(--Purple);
}

.form-booking__price-per-day {
  font-weight: var(--font-small);
  color: #1f204180;
  font-size: var(--body-font-size);
  line-height: 18px;
}

.form-booking__price-value {
  font-weight: var(--font-big);
}

/*end of form-booking*/
