body {
  padding: 141px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* email */
.email__form,
.purpose_trip__form {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email__form-name,
.purpose__form-name {
  display: flex;
  justify-content: space-between;
}

.email,
.purpose {
  width: 100%;
  border: 1px solid #1f204140;
  padding: 13px;
  border-radius: 4px;
}

.email::placeholder {
  color: var(--Dark-Shade25);
}

.email__title,
.purpose__title {
  font-family: var(--body-font);
  font-weight: var(--font-big);
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  line-height: 100%;
  color: var(--Dark-Shade100);
}

.email__description,
.purpose__description {
  font-family: var(--body-font);
  font-weight: var(--font-small);
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  line-height: 100%;
  color: var(--Dark-Shade50);
}
/* email */

/* purpose */

/* purpose */
