body {
  padding: 141px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-family: var(--body-font);
}

.block-one {
  display: flex;
  gap: 126px;
}

.block-two {
  width: 100%;
  max-width: 266px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block-three {
  display: flex;
  gap: 100px;
}

.block-four {
  display: flex;
  gap: 156px;
}

#input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs-section {
  width: 100%;
  max-width: 320px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.date-row {
  display: flex;
  gap: 20px;
}

.dropdown-middle {
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 267px;
  flex-direction: column;
}

/* text-input */

.text-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-input__label {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  color: var(--Dark-Shade100);
  text-transform: uppercase;
  line-height: 100%;
}

.text-input__input {
  padding: 13px;
  border: 1px solid var(--Dark-Shade25);
  border-radius: 4px;
  width: 100%;
}

.text-input__input:hover,
.text-input__input:focus {
  border: 1px solid var(--Dark-Shade100);
  outline: none;
}

.text-input__input::placeholder {
  color: var(--Dark-Shade25);
}

/* end of text-input */

/* dropdown */

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.dropdown__label {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  color: var(--Dark-Shade100);
  text-transform: uppercase;
  line-height: 100%;
}

.dropdown__trigger {
  position: relative;
}

.dropdown__trigger::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/img/icon_arrow_down.svg);
  content: "";
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown__input {
  padding: 13px;
  border: 1px solid var(--Dark-Shade25);
  border-radius: 4px;
  width: 100%;
}

.dropdown__input:hover,
.dropdown__input:focus {
  border: 1px solid var(--Dark-Shade100);
  outline: none;
}

.dropdown__input::placeholder {
  color: var(--Dark-Shade25);
}

/* end of dropdown */

/* text-input-subscription button  */

.subscription-form {
  position: relative;
}

.subscription-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  color: var(--Dark-Shade100);
  text-transform: uppercase;
  line-height: 100%;
}

.subscription-form__input {
  padding: 13px;
  border: 1px solid var(--Dark-Shade25);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.subscription-form__input:hover,
.subscription-form__input:focus {
  border: 1px solid var(--Dark-Shade100);
  outline: none;
}

.subscription-form__button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 44px; /* Высота должна совпадать с высотой инпута */
  width: 44px; /* Ширина кнопки */
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end of text-input-subscription button */

/* check box */

.checkbox__block {
  white-space: nowrap;
  width: 100%;
}

.controls-section {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.filter-group__title {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.filter-group__items {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.checkbox__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #1f204140;
  border-radius: 4px;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.checkbox__input:checked ~ .checkbox__mark {
  background-color: transparent;
  border-color: #bc9cff;
}

/* Создаем саму галочку (скрыта по умолчанию) */
.checkbox__mark::after {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' fill='none' viewBox='0 0 10 8'%3E%3Cpath fill='url(%23a)' d='m1.414 1.415 4.242 4.242-1.414 1.414L-.001 2.83z'/%3E%3Cpath fill='url(%23b)' d='m8.485 0 1.414 1.415L4.242 7.07 2.828 5.657z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='7.778' x2='2.121' y1='-.707' y2='4.95' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23bc9cff'/%3E%3Cstop offset='1' stop-color='%238ba4f9'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='7.778' x2='2.121' y1='-.707' y2='4.95' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23bc9cff'/%3E%3Cstop offset='1' stop-color='%238ba4f9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

/* Показываем галочку при клике */
.checkbox__input:checked ~ .checkbox__mark::after {
  display: block;
}

.checkbox__label {
  margin-left: 10px;
  vertical-align: middle;
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  color: #1f204180;
}

/* end of check box */

/* radio buttons */
.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radio-buttons__lable {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.radio-buttons__lables {
  display: flex;
  gap: 20px;
}

.radio-button__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-button__mark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #1f204140;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.radio-button__input:checked + .radio-button__mark {
  background-color: #bc9cff;
  box-shadow: inset 0 0 0 3px #f4f4f4;
  border: 1px solid #bc9cff;
}

/* end of radio buttons */

/* toggle button */
.toggle__title {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.toggle {
  display: flex;
  align-items: center; /* Центрируем текст и кнопку по вертикали */
  max-width: 260px;
  width: 100%;
  cursor: pointer;
  color: var(--Dark-Shade75);
}

.toggle__label-text {
  white-space: nowrap;
}

.toggle__mark {
  flex-shrink: 0; /* Чтобы тоггл не сжимался, если текст длинный */
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid #1f204140;
  border-radius: 10px; /* Фиксированный радиус для овальной формы */
  background: #ffffff;
  transition: 0.2s;
  margin-right: 10px;
}

.toggle__mark:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1f204140; /* Цвет выключенного кружка */
  transition: 0.2s;
}

.toggle__input[type="checkbox"] {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.toggle__input:checked + .toggle__mark {
  border-color: #bc9cff;
}

.toggle__input[type="checkbox"]:checked + .toggle__mark:before {
  transform: translateX(20px);
  background: #bc9cff;
}

/* end of toggle button */

/* like buttons */
.button-like__title {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.button-like__input {
  display: none;
}

.button-like {
  display: inline-flex; /* Чтобы кнопка была по ширине контента */
  align-items: center;
  gap: 4px;
  padding: 0 8px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid var(--Dark-Shade25, #ccc);
  background-color: #ffffff;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.button-like__counter {
  font-weight: var(--font-small);
  font-size: 10px;
  color: #1f204140;
  user-select: none;
}

.button-like__heart-empty {
  object-fit: none;
}

.button-like__heart-filled {
  object-fit: none;
  opacity: 0;
  position: absolute;
}

.button-like__input:checked ~ .button-like__heart-empty {
  display: none; /* Скрываем пустую */
}

.button-like__input:checked ~ .button-like__heart-filled {
  opacity: 1;
  position: static; /* Возвращаем в поток */
}

.button-like:has(.button-like__input:checked) {
  border-color: #bc9cff;
}

.button-like__input:checked ~ .button-like__counter {
  color: #bc9cff;
}
/* end of like buttons */

/* Rate Buttons */
.rate__title {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.rate__button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.rate__star-empty,
.rate__star-filled {
  position: absolute;
  object-fit: none;
  top: 0px;
  left: 0px;
}

.rate__star-filled {
  position: absolute;
  object-fit: none;
  display: none;
}

.rate__star-filled.active {
  display: block;
}
/* end of Rate Buttons */

/* Buttons Click*/

.buttons-demo__title {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.buttons-demo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 320px;
}

.button {
  padding: 15px 20px;
  border-radius: 22px;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: none;
  color: #ffffff;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  opacity: 50%;
}

.button.button--outline {
  border: 2px solid #bc9cff;
  color: #bc9cff;
  cursor: pointer;
  background: none;
  border-radius: 24px;
  padding: 13px 18px;
}

.button.button--ghost {
  border: none;
  background: white;
  color: #bc9cff;
  height: 15px;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);

  text-transform: uppercase;
}

.button.button--ghost:hover {
  color: #1f204180;
  cursor: pointer;
}

.button.button--full-width {
  width: 100%;
}

/* Buttons Click*/

/*Dropdown*/

.dropdown__input:active {
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #1f204180;
  outline: none;
}

.active .dropdown__expander {
  border-radius: 0 0 4px 4px;
  border-top: none;
}

.dropdown__row {
  display: flex;
  gap: 9px;
  justify-content: space-between;
}

.dropdown__button-minus {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  border: 1px solid #1f204140;
  color: #1f204140;
  background-color: white;
}

.dropdown__button-plus {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  border: 1px solid #1f204140;
  color: #1f204140;
  background-color: white;
}

.dropdown__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.dropdown__title {
  font-weight: var(--font-big);
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #1f2041;
  white-space: nowrap;
  width: 100%;
}

.dropdown__expander {
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;
  border: 1px solid #1f204180;
  border-top: none;
  margin-top: -1px;
  display: flex;
  padding: 13px;
  justify-content: space-between;
  flex-direction: column;
  gap: 7px;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.dropdown__span {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.dropdown--open .dropdown__expander {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown--open .dropdown__input {
  border-radius: 4px 4px 0 0;
}

.dropdown__expander.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown__expander.active {
  opacity: 1;
  visibility: visible;
}

.dropdown__buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.dropdown__button-clean {
  width: auto;
  white-space: nowrap;
  background: none;
  border: none;
  color: #bc9cff;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  cursor: pointer;
  display: none;
  display: block;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.dropdown__button-clean[style*="opacity: 1"] {
  pointer-events: auto; /* Теперь можно нажать */
}

.dropdown__button-apply {
  background: none;
  color: #bc9cff;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  border: none;
}

/* dropdown-checkbox */
.dropdown-checkbox {
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 266px;
  width: 100%;
}

.dropdown-checkbox__label {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.dropdown-checkbox__trigger {
  position: relative;
}

.dropdown-checkbox__trigger::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/img/icon_arrow_down.svg);
  content: "";
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-checkbox__input {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  color: var(--Dark-Shade100);
  padding: 13px 0px;
  border: none;
  border-radius: 4px;
  width: 100%;
  text-align: left;
  outline: none;
  opacity: 1;
}

.dropdown-checkbox__expandable {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 14px;
  opacity: 0;
  visibility: hidden;
  transition: 0, 3s;
  background: white;
  z-index: 10;
}

.dropdown-checkbox__expandable.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/* end of dropdown-checkbox */

/* Checkbox Buttons */
.checkbox-buttons-rich {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 266px;
  width: 100%;
}

.checkbox-buttons-rich__title {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  color: var(--Dark-Shade100);
}

.checkbox-buttons-rich__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* end of Checkbox Buttons */

/* bullet list */
.bullet-list__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bullet-list__title {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.bullet-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bullet-list li {
  position: relative;
  padding-left: 20px;
  color: var(--Dark-Shade75);
  line-height: 24px;
}

.bullet-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 10px;
  height: 10px;
  background-color: #1f204140;
  border-radius: 50%;
}
/* end of bullet list */

/* benefit-list */

.benefit {
  max-width: 291px;
  width: 100%;
}

.benefit-list {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--);
  border-bottom: 1px solid #1f20411a;
  padding: 17px 0px;
}

.benefit-list__h {
  font-weight: var(--font-big);
  font-size: var(--body-font-size);
  line-height: 24px;
  color: var(--Dark-Shade75);
  letter-spacing: 0%;
}

.benefit-list__span {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--Dark-Shade75);
}
/* end of benefit-list */

/* feedback-card */

.feedback-card {
  display: grid;
  gap: 10px;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

.feedback-card__avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0px 10px 20px 0px #1f20411a;
}

.feedback-card__avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  grid-row: span 2;
}

.feedback-card__author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
}

.feedback-card__author-name {
  font-weight: var(--font-big);
  font-size: var(--body-font-size);
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--Dark-Shade75);
}

.feedback-card__feedback-date {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  line-height: 24px;
  letter-spacing: 0%;
  font-family: var(--body-font);
  color: #1f2041bf;
}

.feedback-card__comment {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  line-height: 24px;
  letter-spacing: 0%;
  font-family: var(--body-font);
  color: #1f2041bf;
}

/* end of feedback-card */
