body {
  padding: 141px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-family: var(--body-font);
}

.blockOne {
  display: flex;
  gap: 126px;
}

.blockTwo {
  display: flex;
  gap: 181px;
}

#input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-field span,
.number_guests__form span,
.data__form span,
.data__form-mini-first span,
.data__form-mini-second span,
.data__form-filter span,
.data__form-email span,
.dropdown__peoples span {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  color: var(--Dark-Shade100);
  text-transform: uppercase;
  line-height: 100%;
}

.text-field,
.number_guests__form,
.data__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 320px;
  flex-shrink: 0;
}

.data__form-mini-first,
.data__form-mini-second {
  position: relative;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-field input,
.number_guests__form input,
.data__form input,
.data__form-mini-first input,
.data__form-mini-second input,
.data__form-filter input,
.data__form-email input {
  position: relative;
  padding: 13px;
  border: 1px solid var(--Dark-Shade25);
  border-radius: 4px;
  width: 100%;
}

.text-field input:hover,
.text-field input:focus {
  border: 1px solid var(--Dark-Shade100);
  outline: none;
}

.text-field input::placeholder,
.data__form-email input::placeholder {
  color: var(--Dark-Shade25);
}

.data__form input::placeholder {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  line-height: 24px;
  color: var(--Dark-Shade25);
  letter-spacing: 0%;
}

.number_guests__form div input::placeholder {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  line-height: 24px;
  color: var(--Dark-Shade100);
}

.data__form-mini-first div input::placeholder,
.data__form-mini-second div input::placeholder {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  line-height: 18px;
  color: var(--Dark-Shade75);
}

.data__form-filter div input::placeholder {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  line-height: 24px;
  color: var(--Dark-Shade75);
}

.purpose_trip__form,
.number_guests__form div,
.data__form-mini-first div,
.data__form-mini-second div {
  position: relative;
  max-width: 320px;
  display: inline-block;
  gap: 5px;
}

.data__form-mini {
  display: flex;
  gap: 20px;
}

.data__form-filter,
.data__form-email {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 266px;
}

.data__form-filter div,
.data__form-email div {
  position: relative;
  display: inline-block;
}

.number_guests::placeholder {
  color: var(--Dark-Shade25);
}

.data-mini {
  border: none;
  width: 100%;
  padding: 13px;
}

.arrow_button,
.arrow_button-mini,
.arrow_buttonTwo {
  position: absolute;
  background: none;
  border: none;
  padding: 13px;
  cursor: pointer;
  right: 5px;
}

/* check box */

.checkbox__title,
.buttonsLike__title,
.buttonsRate__title,
.buttonsClick__title,
.dropdown__rooms span {
  text-transform: uppercase;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
}

.checkbox__block {
  white-space: nowrap;
  width: 100%;
}

.check.box {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.checkbox__form {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent; /* Прозрачный фон */
  border: 1px solid #1f204140; /* Серая рамка по умолчанию */
  border-radius: 4px;
  transition: all 0.2s ease; /* Плавный переход для всех свойств */
  box-sizing: border-box; /* Чтобы рамка не увеличивала размер */
}

/* При наведении подсвечиваем только рамку */
/* .container:hover input ~ .checkmark {
  border-color: #bc9cff;
} */

/* Когда чекбокс активен — красим ТОЛЬКО рамку */
.container input:checked ~ .checkmark {
  background-color: transparent; /* Фон остается прозрачным */
  border-color: #bc9cff; /* Рамка становится синей */
}

/* Создаем саму галочку (скрыта по умолчанию) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' fill='none' viewBox='0 0 10 8'%3E%3Cpath fill='url(%23a)' d='m1.414 1.415 4.242 4.242-1.414 1.414L-.001 2.83z'/%3E%3Cpath fill='url(%23b)' d='m8.485 0 1.414 1.415L4.242 7.07 2.828 5.657z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='7.778' x2='2.121' y1='-.707' y2='4.95' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23bc9cff'/%3E%3Cstop offset='1' stop-color='%238ba4f9'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='7.778' x2='2.121' y1='-.707' y2='4.95' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23bc9cff'/%3E%3Cstop offset='1' stop-color='%238ba4f9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

/* Показываем галочку при клике */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* check box */

/* radio buttons */
.radio__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radioButtons__title {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.radioButtons__form {
  display: flex;
  gap: 20px;
}

input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* Стилизация метки радиокнопки */
input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* Кастомная радиокнопка */
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #1f204140;
  border-radius: 50%;
}

/* Состояние выбранной радиокнопки */
input[type="radio"]:checked + label::before {
  background-color: #bc9cff;
  box-shadow: inset 0 0 0 3px #f4f4f4;
  border: 1px solid #bc9cff;
}

.radioButtons__form label {
  font-weight: var(--font-small);
  font-size: var(--body-font-size);
  color: var(--Dark-Shade75);
}
/* radio buttons */

/* toggle button */
.checkbox-ios {
  display: inline-block;
  font-weight: var(--font-small);
  position: relative;
  font-size: var(--body-font-size);
  color: var(--Dark-Shade75);
}
.checkbox-ios .checkbox-ios-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 1px solid #1f204140;
  border-radius: 25% / 50%;
  vertical-align: top;
  background: #ffffff;
  transition: 0.2s;
  margin-right: 10px;
}
.checkbox-ios .checkbox-ios-switch:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1f204140;
  box-shadow: 0 3px 5px white;
  transition: 0.15s;
}
.checkbox-ios input[type="checkbox"] {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-ios input[type="checkbox"]:checked + .checkbox-ios-switch {
  border-color: #bc9cff;
}
.checkbox-ios input[type="checkbox"]:checked + .checkbox-ios-switch:before {
  transform: translateX(20px);
  background: #bc9cff;
}
/* toggle button */

/* like buttons */
.buttonsLike__input {
  display: none;
}

.buttonsLike__content {
  display: inline-flex; /* Чтобы кнопка была по ширине контента */
  align-items: center;
  gap: 4px;
  padding: 0 8px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid var(--Dark-Shade25, #ccc);
  background-color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.buttonsLike__counter {
  font-weight: var(--font-small);
  font-size: 10px;
  color: #1f204140;
  user-select: none;
}

.buttonsLike__heart {
  object-fit: none;
}

.buttonsLike__heart2 {
  object-fit: none;
  opacity: 0;
  position: absolute;
}

.buttonsLike__input:checked + .buttonsLike__content .buttonsLike__heart {
  opacity: 0;
}

.buttonsLike__input:checked + .buttonsLike__content .buttonsLike__heart2 {
  opacity: 1;
}

.buttonsLike__input:checked + .buttonsLike__content {
  border-color: #bc9cff;
}

.buttonsLike__input:checked + .buttonsLike__content .buttonsLike__counter {
  color: #bc9cff;
}
/* like buttons */

/* Rate Buttons */

.buttonStars {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.buttonsRate__starsBorder,
.buttonsRate__stars {
  position: absolute;
  object-fit: none;
  top: 0px;
  left: 0px;
}

.buttonsRate__stars {
  position: absolute;
  object-fit: none;
  display: none; /* По умолчанию скрыты */
}

.buttonsRate__starsBorder.active {
  display: none;
}

.buttonsRate__stars.active {
  display: block; /* Показываем при наличии класса */
}

/* Rate Buttons */

/* Buttons Click*/
.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button__click,
.button__clickBorder {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
}

.button__click,
.button__pay {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.button__click:hover {
  opacity: 50%;
}

.button__clickBorder {
  border: 2px solid #bc9cff;
  color: #bc9cff;
  cursor: pointer;
}

.button__clickBorder:hover {
  opacity: 50%;
}

.button__clickBorderOff {
  border: none;
  background: white;
  color: #bc9cff;
  height: 15px;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  width: 61px;
}

.button__clickBorderOff:hover {
  color: #1f204180;
  cursor: pointer;
}

.button__pay {
  width: 320px;
  height: 44px;
  border-radius: 22px;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

/* Buttons Click*/

/*Dropdown*/

.dropdown__rooms {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 266px;
}

.dropdown__rooms span {
  padding-bottom: 5px;
}

.dropdown__rooms input {
  position: relative;
  padding: 13px;
  border: 1px solid var(--Dark-Shade25);
  border-radius: 4px;
  width: 100%;
}

.dropdown__rooms input:active {
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #1f204180;
  outline: none;
}

.active .dropdown__expander {
  border-radius: 0 0 4px 4px;
  border-top: none; /* Убираем двойную рамку на стыке */
}

.dropdown__default {
  position: relative;
  min-width: 266px;
  display: inline-block;
  flex-shrink: 0;
}

.dropdown__expander div {
  display: flex;
  gap: 9px;
  justify-content: space-between;
}

.dropdown__plus,
.dropdown__minus {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  border: 1px solid #1f204140;
  color: #1f204140;
  background-color: white;
}

.dropdown__counter span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
}

.dropdown__title {
  font-weight: var(--font-big);
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #1f2041;
  white-space: nowrap;
  width: 100%;
}

.dropdown__expander {
  opacity: 0;
  visibility: hidden; /* элемент становится невидемый, но он есть*/
  position: absolute;
  top: 100%; /* Появляется ПОД инпутом */
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;
  border: 1px solid #1f204180;
  display: flex;
  padding: 13px;
  justify-content: space-between;
  transform: translateY(-10px); /* Легкое смещение для эффекта выезда */
  transition: 0.4s ease;
  flex-direction: column;
  gap: 7px;
}

.dropdown__expander.active {
  opacity: 1;
  visibility: visible; /*элемент становится невидемый*/
  transform: translateY(0);
}
/*Dropdown People*/

.dropdown__peoples span {
  padding-bottom: 5px;
}

.dropdown__defaultPeople {
  min-width: 320px;
  flex-shrink: 0;
}

.dropdown__defaultPeople input {
  position: relative;
  padding: 13px;
  border: 1px solid var(--Dark-Shade50);
  border-radius: 1px;
  width: 100%;
}

.dropdown__peoples {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.dropdown__counter {
  gap: 10px;
}

.dropdown__peopleExpander {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 13px;
  border: 1px solid var(--Dark-Shade50);
  display: flex;
  flex-direction: column;
  gap: 8px;
  visibility: visible;
  min-width: 320px;
}

.dropdown__peopleExpander.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown__peopleExpander div {
  display: flex;
}

.BtnApply {
  display: block;
  margin-left: auto;
  margin-right: 0;
  padding-top: 11px;
  width: auto;
  white-space: nowrap;
  background: none;
  border: none;
  color: #bc9cff;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.BtnApplyClean {
  background: none;
  border: none;
  color: #bc9cff;
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  visibility: visible;
  opacity: 0;
}

.BtnApplyClean.active {
  opacity: 1;
  visibility: visible;
}
