body {
  padding: 141px;
  display: flex;
  gap: 120px;
}

.text-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-field span {
  font-weight: var(--font-big);
  font-size: var(--h3-font-size);
  font-family: var(--body-font);
  color: var(--Dark-Shade100);
  text-transform: uppercase;
}

.text-field input {
  padding: 13px;
  border: 1px solid var(--Dark-Shade25);
  border-radius: 4px;
}

.text-field input:hover,
.text-field input:focus {
  border: 1px solid var(--Dark-Shade100);
  outline: none;
}

.text-field input::placeholder {
  color: var(--Dark-Shade25);
}

//исправить ниже 
.choice.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email__form,
.purpose_trip__form,
.number_guests__form,
.data__form {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email__form-name,
.purpose__form-name {
  display: flex;
  justify-content: space-between;
}

.email,
.purpose,
.data {
  width: 100%;
  border: 1px solid #1f204140;
  padding: 13px;
  border-radius: 4px;
}

.email::placeholder,
.data::placeholder,
.number_guests::placeholder,
.form-email-title::placeholder {
  color: var(--Dark-Shade25);
}

.email__title,
.purpose__title,
.number_guests__title,
.data__title {
  font-family: var(--body-font);
  font-weight: var(--font-big);
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  line-height: 100%;
  color: var(--Dark-Shade100);
}

.email__description,
.purpose__description {
  font-family: var(--body-font);
  font-weight: var(--font-small);
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  line-height: 100%;
  color: var(--Dark-Shade50);
}

.tip_guests {
  width: 100%;
}

.number_guests_line,
.data_line-mini,
.data_line-mini-filter {
  max-width: 320px;
  position: relative;
  display: inline-block;
  border: 1px solid #1f204140;
  border-radius: 4px;
}

.data-mini,
.data-filter,
.form-email-title {
  border: none;
  width: 100%;
  padding: 13px;
}

.number_guests {
  border: none;
  width: 100%;
  padding: 13px 80px 13px 13px;
}

.arrow_button,
.arrow_button-mini {
  position: absolute;
  background: none;
  border: none;
  padding: 13px;
  cursor: pointer;
  right: 5px;
}

.data__form-mini {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.data__form-mini-block {
  display: flex;
  gap: 20px;
}

.data__form-filter,
.data__form-email {
  max-width: 266px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* check box */

.checkbox span {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #1f204180;
}

.checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #1f204140;
  border-radius: 4px;
}

.checkbox span::after {
  content: "";
  position: absolute;
  display: none;
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #1f204140;
  border-radius: 4px;
  background-image: url(/img/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox input:checked + span::after {
  display: block;
}

.checkbox input:focus + span::before {
  border-color: #bc9cff;
}

/* check box */
