body {
  padding: 141px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.email__form,
.purpose_trip__form,
.number_guests__form {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email__form-name,
.purpose__form-name {
  display: flex;
  justify-content: space-between;
}

.email,
.purpose {
  width: 100%;
  border: 1px solid #1f204140;
  padding: 13px;
  border-radius: 4px;
}

.email::placeholder {
  color: var(--Dark-Shade25);
}

.email__title,
.purpose__title,
.number_guests__title {
  font-family: var(--body-font);
  font-weight: var(--font-big);
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  line-height: 100%;
  color: var(--Dark-Shade100);
}

.email__description,
.purpose__description {
  font-family: var(--body-font);
  font-weight: var(--font-small);
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  line-height: 100%;
  color: var(--Dark-Shade50);
}

.tip_guests {
  width: 100%;
}

.number_guests_line {
  max-width: 320px;
  position: relative;
  display: inline-block;
  border: 1px solid #1f204140;
  border-radius: 4px;
}

.number_guests {
  border: none;
  width: 100%;
  padding: 13px 80px 13px 13px;
}

.arrow_button {
  position: absolute;
  background: none;
  border: none;
  padding: 13px;
  cursor: pointer;
  right: 5px;
}
/* email */

/* purpose */

/* purpose */
