/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --Dark-Shade100: #1f2041;
  --Dark-Shade75: #1f2041bf;
  --Dark-Shade50: #1f204180;
  --Dark-Shade25: #1f204140;
  --Dark-Shade5: #1f20410d;
  --Purple: #bc9cff;
  --Green: #6fcf97;

  /*========== Font and typography ==========*/
  --body-font-h1: "Montserrat", sans-serif;

  --h1-font-size: 24px;
  --h2-font-size: 19px;
  --h3-font-size: 12px;
  --body-font-size: 14px;

  /*========== Font weight ==========*/
  --font-rbig: 700;
  --font-small: 400;
}
